<div class="row">
<div class="large-10 columns large-offset-1 column panel">
  <p style="text-transform:uppercase; font-weight:bold;">Apply for this position</p>
  <p><%= @job.to_apply.html_safe %></p>
</div>
</div>