
<div class="row">
<div class="large-10 columns large-offset-1 column">
  <h2 style="font-weight:700; margin-bottom:-3px;"><%= @job.title %></h2>
  <p style="font-weight:700; font-size: 22px; margin-bottom:-5px;">Excel with Code</p>
  <p style="font-weight:700; margin-bottom:-5px;">Headquarters: <%= @job.location %></p>
  <p style="font-weight:700; margin-bottom:-5px;"><a href="#" taget="_blank">http://www.excelwithcode.com</a></p>
  <hr>
</div>
</div>

<div class="row">
<div class="large-7 columns large-offset-1 column">
  <p><%= @job.description.html_safe %></p>
</div>
</div>