<%= content_for(:title, "#{ @job.title } in #{ @job.location }") %>
<%= render 'four_breaks' %>
<div class="row">
<div class="large-10 columns large-offset-1 column">
  <p><%= link_to("Back to all jobs", jobs_path) %></p>
  <br>
</div>
</div>
<%= render 'display_listing' %>
